body{
    font-family: Arial;
    background:#efefef;
    padding:30px;
}

.container{
    width:500px;
}

input{
    width:300px;
    padding:10px;
    font-size:18px;
}

button{
    padding:10px 20px;
    font-size:18px;
    cursor:pointer;
}

.card{
    margin-top:30px;
    background:#ddd;
    padding:20px;
}

.row{
    display:grid;
    grid-template-columns:120px 20px auto;
    margin:10px 0;
    font-size:26px;
}
